body {
height: 100%;
  background-color: cornflowerblue;
}

/* about me title */
h1 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(110, 39, 39);
}


/* header */
.container {
  margin-left: 150px;
  margin-top: 15px;
  width: 1080px;
  color: rgb(14, 13, 13);
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}


/* header */
header {
  background-color: rgb(110, 39, 39);
  height: 50px;
  padding: 20px;
  border: 1px solid cornrgbflowerblue;
}

.container {
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 3px;
  background-color: rgb(239, 241, 243);
 }


/* links */
a {
  text-decoration: none;
  color: rgb(110, 39, 39);
}

#links {
  text-align: right;
  margin-right: 352px;
  margin-top: 70px;
  font-size: 25px;
 
}


/* container with photo and about me text */
.pic {
  
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 170px;
  margin-top: 26px;
  margin-right: 300px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  min-height: 400px;

}

.profile-img {
  float: left;
  width: 20%;
  max-width: 20%;
  margin-right: 20px;
}

/* about me  */
#aboutme {
  margin-right: 100px;
}

#indent1 {
  text-indent: 50px;
}

#indent2 {
  text-indent: 50px;
}

#text_move {
  margin-left: 178px;
}
 

