

body {
height: 100%;
  background-color: cornflowerblue;
}

.container {
  margin-left: 300px;
  margin-top: 25px;
  width: 550px;
  color: rgb(228, 212, 212);
  font-family: ;
  font-size: 50px;
}

header {
  background-color: rgb(110, 39, 39);
  height: 50px;
  padding: 20px;
  border: 1px solid white;
}


#links {
  text-align: right;
  margin-right: 350px;
  margin-top: 70px;
  font-size: 30px;
}

#pic {
  padding-top: 4px;
  padding-left: 3px;
margin-left: 150px;
margin-top: 26px;
margin-right: 150px;
border-style: solid;
border-width: 2px;
border-color: black;

}
