body {
height: 100%;
  background-color: cornflowerblue;
}


h1 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(110, 39, 39);
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: rgb(110, 39, 39);
}


.container {
  margin-left: 150px;
  margin-top: 15px;
  width: 1235px;
  color: rgb(14, 13, 13);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}



header {
  background-color: rgb(110, 39, 39);
  height: 50px;
  padding: 20px;
  border: 1px solid cornrgbflowerblue;
}


#links {
  text-align: right;
  margin-right: 350px;
  margin-top: 70px;
  font-size: 25px;
  color: rgb(110, 39, 39);
}

#id {
 font: larger;
}

.pic {
  
  padding-top: 4px;
  padding-left: 5px;
  margin-left: 150px;
  margin-top: 26px;
  margin-right: 300px;
  border-style: solid;
  border-width: 2px;
  border-color: black;

}



/* clickable links */
#link2 {
  font-size: 20px;
  text-align: right;
  margin-top:20px;
  margin-right: 50%;
}

  .container {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  background-color: rgb(239, 241, 243);
 
}


